@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #66475C;
    font-family: 'Courgette', sans-serif;
}

#parent {
    width: 600px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    font-size: 40px;
    color: #E3B1D5;
    text-align: center;
    font-weight: 400;
}

p {
    font-size: 24px;
    color: #E3B1D5;
    opacity: 0.6;
}

#lines {
    width: 30px;
    height: 3px;
    background-color: #E3B1D5;
    opacity: 0.3;
}

#center {
    display: flex;
    align-items: center;
    gap: 15px;
    min-width: 250px;
}